svg { position: fixed; left: 50px; top: 100px }

#button_text {
    position: fixed;
    left: 20px;
    top: 0px;
}

.btn-group { 
    position: fixed;
    left: 500px;
    top: 110px;
    z-index: 1;
}

#myForm { 
    position: fixed;
    left: 20px;
    top: 80px;
    z-index: 1;
}

.btn-group .button {
    margin: 4px 2px;
    padding: 10px 20px;
    text-align: center;
    text-decoration: none;
    display: inline-block;
    font-size: 14px;
    cursor: pointer;
    float: left;
    transition-duration: 0.4s;
    background-color: white; 
    color: black; 
    border: 1px solid #595959;
}

.btn-group .button:hover {
    background-color: dimgray;
    color: white;
}

.btn-group .active {
    color: white;
    background-color: dimgray;
}

.btn-group .passive {
    color: black;
    background-color: white;
}

#chartTitle { 
    font-size: 30px;
    font-family: 'Georgia';
    position: fixed;
    left: 400px;
    top: 25px;
    color: indigo;
}

#subtitle_div { display: table; text-align: center }

#subtitle_text {
    font-size: 16px;
    font-family: 'Georgia';
	font-style: italic;
	position: fixed;
	left: 300px;
	top: 60px;
	color: indigo;
	width: 650px;
	display: table-cell;
	vertical-align: middle;
}

td, th {
    padding: 2px 9px;
    text-align: center;
    vertical-align: middle;
}

td {font-family: 'Courier'; }

td:nth-child(1) { font-weight: bold }